Importing Libraries

In [1]:
import random
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

Data Generation Based on given Code

In [11]:
id_1 = 7721 #change to first student id
id_2 = 7818 #change to second student id
id_3 = 0000 #change to third student id "leave 0000 if team of 2"
random_seed = id_1+id_2+id_3
random.seed(random_seed)
data_path="Data.csv"#replace with data path
output_path="MyData.csv"#replace with output data path

all_data=pd.read_csv(data_path) 
all_columns = all_data.columns.tolist()

target_column = 'smoking'  

all_columns.remove(target_column)

selected_columns = random.sample(all_columns, 10)

print(selected_columns) #MUST BE PRINTED
selected_columns = np.append(selected_columns, target_column)
sample_df = all_data[selected_columns].copy()
sample_df.to_csv(output_path)   #From HERE YOU CAN SPLIT FOR TRAIN ,VALID AND TEST

['hearing(left)', 'Cholesterol', 'ALT', 'eyesight(left)', 'waist(cm)', 'hearing(right)', 'dental caries', 'hemoglobin', 'weight(kg)', 'serum creatinine']

Load Data

In [8]:
# Load the dataset
data = pd.read_csv("MyData.csv")  # Replace with your dataset filename

# Display the first few rows
print("First few rows of the dataset:")
display(data.head())

# Overview of the dataset
print("\nDataset Information:")
data.info()

print("\nStatistical Summary:")
display(data.describe())

First few rows of the dataset:

,Unnamed: 0,hearing(left),Cholesterol,ALT,eyesight(left),waist(cm),hearing(right),dental caries,hemoglobin,weight(kg),serum creatinine,smoking
0,0,1,172,25,0.5,81.0,1,0,16.5,60,1.0,1
1,1,2,194,23,0.6,89.0,2,1,16.2,65,1.1,0
2,2,1,178,31,0.4,81.0,1,0,17.4,75,0.8,1
3,3,1,180,27,1.5,105.0,1,1,15.9,95,1.0,0
4,4,1,155,13,1.5,80.5,1,0,15.4,60,0.8,1

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159256 entries, 0 to 159255
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        159256 non-null  int64
 1   hearing(left)     159256 non-null  int64
 2   Cholesterol       159256 non-null  int64
 3   ALT               159256 non-null  int64
 4   eyesight(left)    159256 non-null  float64
 5   waist(cm)         159256 non-null  float64
 6   hearing(right)    159256 non-null  int64
 7   dental caries     159256 non-null  int64
 8   hemoglobin        159256 non-null  float64
 9   weight(kg)        159256 non-null  int64
 10  serum creatinine  159256 non-null  float64
 11  smoking           159256 non-null  int64
dtypes: float64(4), int64(8)
memory usage: 14.6 MB

Statistical Summary:

,Unnamed: 0,hearing(left),Cholesterol,ALT,eyesight(left),waist(cm),hearing(right),dental caries,hemoglobin,weight(kg),serum creatinine,smoking
count,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000,159256.000000
mean,79627.500000,1.023974,195.796165,26.550296,1.005798,83.001990,1.023421,0.197996,14.796965,67.143662,0.892764,0.437365
std,45973.391572,0.152969,28.396959,17.753070,0.402113,8.957937,0.151238,0.398490,1.431213,12.586198,0.179346,0.496063
min,0.000000,1.000000,77.000000,1.000000,0.100000,51.000000,1.000000,0.000000,4.900000,30.000000,0.100000,0.000000
25%,39813.750000,1.000000,175.000000,16.000000,0.800000,77.000000,1.000000,0.000000,13.800000,60.000000,0.800000,0.000000
50%,79627.500000,1.000000,196.000000,22.000000,1.000000,83.000000,1.000000,0.000000,15.000000,65.000000,0.900000,0.000000
75%,119441.250000,1.000000,217.000000,32.000000,1.200000,89.000000,1.000000,0.000000,15.800000,75.000000,1.000000,1.000000
max,159255.000000,2.000000,393.000000,2914.000000,9.900000,127.000000,2.000000,1.000000,21.000000,130.000000,9.900000,1.000000

Data Handling

In [10]:
# Check for missing values
missing_values = data.isnull().sum()
print("\nMissing Values in Each Column:")
print(missing_values[missing_values > 0])

#Handle missing values:
data.fillna(data.median(), inplace=True)

#remove outliers using IQR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1
df = data[~((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))).any(axis=1)]

#scaling (Normalization)
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

Missing Values in Each Column:
Series([], dtype: int64)

Data Analysis: Univariate

In [4]:
# Iterate through each column in the DataFrame
for column in df.columns:
    if column != 'smoking':
        plt.figure(figsize=(10, 6))
        
        # Create a bar plot grouped by smoking (0 and 1)
        grouped_data = df.groupby(['smoking', column]).size().reset_index(name='count')
        
        # Plot the grouped data
        sns.barplot(data=grouped_data, x=column, y='count', hue='smoking', palette='Set2')
        
        plt.title(f'{column} vs Smoking')
        plt.xlabel(column)
        plt.ylabel('Count')
        plt.legend(title='Smoking', labels=['0 (Unlikely to Quit)', '1 (Likely to Quit)'])
        plt.xticks(rotation=45)  # Rotate x-axis labels if needed
        plt.tight_layout()
        plt.show()

NameError: name 'df' is not defined

Data Analysis: Bivariate

Data Analysis: Multivariate